<h3> Fundamental Data API </h3><hr/>

<p>
The Fundamental API allow developers to get Financial information about companies traded around the world.


Fundamental Information is collected every day from each Exchange.
</p>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/companies    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/news    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/:company/info    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/:company/news    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/:company/events    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/:company/financial_statement    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/:company/dividends    </li>
    <li class="">  <span class="label label-info">GET</span> /api/fundamentals/:company/ratios    </li>
</ul>

<br/><b> Parameters </b><hr/>
<table class="table table-condensed table-stripped">
    <thead>
        <tr>
            <th class="text-english" >Name</th>
            <th class="text-english">Description</th>
        </tr>
    </thead>
    <tbody>
          <tr> 
              <td class="text-english">:company</td>
              <td class="text-english">for TASE exchange: issuer_no. </td>
          </tr>
    </tbody>
</table>