<h3> Historic Data API </h3><hr/>

<br/><b> Historical Candles  </b>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/minutes/recent    </li>
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/minutes/request   </li>
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/daily/request   </li>
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/daily/recent   </li>
</ul>



