<h3> Getting List of Instruments </h3><hr/>

The API expose several way to get market data. 

<ul >
    <li class="">  <span class="label label-info">GET</span> /api/instrument/exchanges    </li>
    <li class="">  <span class="label label-info">GET</span> /api/instruments/kinds    </li>
    <li class="">  <span class="label label-info">GET</span> /api/instruments/:exchange/:kind/symbols    </li>
    <li class="">  <span class="label label-info">GET</span> /api/instruments/:kind/symbols    </li>
</ul>

<b> Exchanges List </b><br/>
<pre>
    ["TASE","NYSE","NASDAQ"]
</pre>
<br/>

<b> Instrument Kinds </b><br/>
<pre>
    ["STK","OPT","BND","FUT","FX","FXP","VC" ,"VCP"]
</pre>
<br/>

<b> Instrument Kinds </b><br/>
<pre>
    ["STK","OPT","BND","FUT","FX","FXP","VC" ,"VCP"]
</pre>
<br/>


<h3> Getting Market Quotes </h3><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbols/quotes/recent    </li>
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbols/quotes/recent?after=2018-02-12 13:31:00    </li>
</ul>

<b> Quotes results </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>


<b> Getting Symbol info </b><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span>/api/market/:symbol/intraday/quotes  </li>
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbol/intraday/candles # 1 minute candles    </li>
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbol/book    </li>
</ul>

<b> Intraday Quotes </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Intraday Candles </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Book </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>



<br/><h3> Registering for real time updates </h3><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/realtime/candles/:symbols/register?callback=:callback-url    </li>
    <li class="">  <span class="label label-info">GET</span> /api/realtime/quotes/:symbols/register?callback=:callback-url   </li>
    <li class="">  <span class="label label-info">GET</span> /api/realtime/quotes/:symbols/register?callback=:callback-url   </li>
</ul>

<br/><b> Unregistering from real time updates </b>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/realtime/candles/:symbols/unregister?callback=:callback-url    </li>
    <li class="">  <span class="label label-info">GET</span> /api/realtime/quotes/:symbols/unregister?callback=:callback-url   </li>
</ul>

<br/><b> Historical Candles  </b>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/minutes/recent    </li>
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/minutes/request   </li>
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/daily/request   </li>
    <li class="">  <span class="label label-info">GET</span> /api/history/symbols/:symbols/daily/recent   </li>
</ul>



