<h3> Input Parameters </h3><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/account/:account/orders    </li>
    <li class="">  <span class="label label-info">GET</span> /api/account/:account/trades    </li>
</ul>
<br/>
<br/>
<br/>

