<h3> Strategy API </h3><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/account/:account/orders    </li>
    <li class="">  <span class="label label-info">GET</span> /api/account/:account/trades    </li>
</ul>

<b> Respond Example </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>



<b> Orders Info </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Trades </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>


<br/>
<br/>
<br/>

