<h3>Candle Class</h3><hr/>
<p>
    some data goes here  skdjfsdfj sdkjf sdkjflkjfa;ldjflsdkjflskjf j lj  lkdjf ljf sdf
    kdsjfoiweor poewkr d fof-043j sfsdkf ok fowek frwe
    sdj fsdjf pof-34 pweofk pwokfsdf
</p>
<br/>
<b>Attributes </b><br/>
<table class="table table-condensed table-stripped">
    <thead>
        <tr class="text-english">
            <th class="text-english">Name</th>
            <th class="text-english">Description</th>
        </tr>
    </thead>
    <tbody>
          <tr> 
              <td>ID</td>
              <td>Number of account in databasr</td>
          </tr>
          <tr> 
              <td>name</td>
              <td>Account Name</td>
          </tr>
          <tr> 
              <td>broker</td>
              <td>Account Broker Name</td>
          </tr>
    </tbody>
</table>
<br/>
<br/>
<b>Functions </b><br/>
<table class="table table-condensed table-stripped">
    <thead>
        <tr>
            <th class="text-english">Name</th>
            <th class="text-english">Description</th>
        </tr>
    </thead>
    <tbody>
          <tr> 
              <td>positions</td>
              <td>current positions</td>
          </tr>
          <tr> 
              <td>orders</td>
              <td>Open Orders</td>
          </tr>
          <tr> 
              <td>trades</td>
              <td>Account Broker Name</td>
          </tr>
          <tr> 
              <td>buy</td>
              <td>Account Broker Name</td>
          </tr>
          <tr> 
              <td>sell</td>
              <td>Account Broker Name</td>
          </tr>
    </tbody>
</table>

<br/><br/><br/><br/>