<h3>Overview</h3><hr/>
<p>
    The Websocket API is an extension of the Dalore Restful API. The Websocket API allow developers to get realtime 
    data from our Trading Servers via socket, so changes are sent imidiatly. 
</p>
<br/><br/>
<h3>Benfits of Websocket</h3><hr/>
<p>
    The Websocket API is an extension of the Dalore Restful API. The Websocket API allow developers to get realtime 
    data from our Trading Servers via socket, so changes are sent imidiatly. 
</p>
<br/><br/>
<h3>Limitation of Websocket</h3><hr/>
<p>
    The Websocket API is an extension of the Dalore Restful API. The Websocket API allow developers to get realtime 
    data from our Trading Servers via socket, so changes are sent imidiatly. 
</p>
<br/><br/>

<h3>Subscription Request</h3><hr/>
<table class="table table-condensed table-stripped">
    <thead>
        <tr>
            <th class="text-english">Request</th>
            <th class="text-english">Format</th>
            <th class="text-english">Result</th>
        </tr>
    </thead>
    <tbody>
          <tr> 
              <td class="text-english">Register Market Data</td>
              <td class="text-english">{request: market-quotes, symbols: "AAPL,IBM..."}</td>
              <td class="text-english"></td>
          </tr>
          <tr> 
              <td class="text-english">Register Account info</td>
              <td class="text-english">{request: register-account, symbols: "AAPL,IBM..."}</td>
              <td class="text-english"></td>
          </tr>
    </tbody>
</table>
<br/><br/>

<h3>Request Reply</h3><hr/>
<table class="table table-condensed table-stripped">
    <thead>
        <tr>
            <th class="text-english">Request</th>
            <th class="text-english">Format</th>
            <th class="text-english">Result</th>
        </tr>
    </thead>
    <tbody>
          <tr> 
              <td class="text-english">Fundamental Report</td>
              <td class="text-english">{request: market-quotes, symbols: "AAPL,IBM..."}</td>
              <td class="text-english"></td>
          </tr>
          <tr> 
              <td class="text-english">Historic Candles</td>
              <td class="text-english">{request: market-quotes, symbols: "AAPL,IBM..."}</td>
              <td class="text-english"></td>
          </tr>
          <tr> 
              <td class="text-english">Day Quotes</td>
              <td class="text-english">{request: market-quotes, symbols: "AAPL,IBM..."}</td>
              <td class="text-english"></td>
          </tr>
          <tr> 
              <td class="text-english">Day Candles</td>
              <td class="text-english">{request: market-quotes, symbols: "AAPL,IBM..."}</td>
              <td class="text-english"></td>
          </tr>
    </tbody>
</table>

