<b>Hello World </b><br/>
<p>
    some data goes here  skdjfsdfj sdkjf sdkjflkjfa;ldjflsdkjflskjf j lj  lkdjf ljf sdf
    kdsjfoiweor poewkr d fof-043j sfsdkf ok fowek frwe
    sdj fsdjf pof-34 pweofk pwokfsdf
</p>

<b>Example Code </b><br/>
<pre class="code-panel">
def on_start
  log "Hello World!"
end 
</pre>

<b>Running Results </b><br/>
<pre class="code-panel">
[DaloreBackTester] 2016-21-4 18:33:12 LOG : Hello World
</pre>