<h3>Technical Indicators</h3><hr/>
<table class="table table-condensed table-stripped">
    <tbody>
        <tr> 
            <td>RSI </td>
            <td>Relative Strength Index</td>
        </tr>
        <tr> 
            <td>STS </td>
            <td>Stochastic Oscillator </td>
        </tr>

        <tr> 
            <td>MACD </td>
            <td>Moving Average Convergence Divergence</td>
        </tr>

        <tr> 
            <td>EMA </td>
            <td>Exponential Moving Average</td>
        </tr>
        <tr> 
            <td>SMA </td>
            <td>Moving Averages</td>
        </tr>
        <tr> 
            <td>OBV </td>
            <td>On-Balance Volume</td>
        </tr>
        <tr> 
            <td>BB </td>
            <td>bollinger bands</td>
        </tr>

    </tbody>
</table>
<br/>
<br/>


<h3>Candle Pattern Matching </h3><hr/>
<table class="table table-condensed table-stripped">
    <tbody>
        <tr>
            <td>Doji</td> 
            <td>Shooting Star</td> 
        </tr> 
        <tr>
            <td>Hammer</td>  
            <td>Engulfing</td>  
        </tr> 
        <tr>
            <td>Harami</td>  
            <td>Piercing</td> 
        </tr> 
        <tr>
            <td>Dark Cloud Cover</td>  
            <td>Evening Star</td> 
        </tr> 
        <tr>
            <td>Abandoned Baby</td>  
            <td>Three Line Strike</td> 
        </tr> 
        <tr>
            <td>Two Black Gapping</td>  
            <td>Bullish Kicker</td>  
        </tr> 
        <tr>
            <td>Bearish Kicker</td>  
            <td>Three Black Crows</td> 
        </tr> 
    </tbody>
</table>

<br/>
<br/>
<br/>
<br/>
