

<section class="company bg-white" id="thebrokersdashboard">
    <div class="container">
        <div class="row">
            <br/>
            <h2 class="text-center">Dalore Analytics</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left">
                    <strong>התמונה המלאה בזמן אמת</strong>
                    <br><br>
                    <p>
                        המשרד האחורי מחובר בזמן אמת לכל תחנות הסוחרים כך שבכל רגע נתון ניתן לקבל תמונה עדכנית של כל החשבונות ממקום אחד.
                    </p>
                </div>


                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/leads.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/lead-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/account-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/account-info-2.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/dashbard-income.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/trade.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                    </div>

                </div>



            </div>

            <div class="col-md-6 col-xs-12">


                <ul class="no-padding">

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-heartbeat"></i></div>
                        <div class="service-content">
                            <h3>מעקב אחר כל שינוי בכל חשבון</h3>
                            <p class="">חיבור לכל תחנות המסחר לקבלת תמונה שלמה ועדכנית על מצב החשבונות ושינויים בתיקים או בשוק</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-users"></i></div>
                        <div class="service-content">
                            <h3>פעילות יומית של כל הסוחרים</h3>
                            <p class="">מעקב אחר כל ההוראות שנשלחו במהלך יום המסמחר</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-briefcase  "></i></div>
                        <div class="service-content">
                            <h3>מעקב חשבונות</h3>
                            <p class="">
                                מעקב אחר מצב חשבונות, פוזיציות ועסקאות בזמן אמת
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-balance-scale  "></i></div>
                        <div class="service-content">
                            <h3 class="">ניהול סיכונים</h3>
                            <p class="">
                                 ניהול סיכונים והרצת תרחישים לבדיקת תיק ההשקעות
                            </p>
                        </div>
                    </li>
                     <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bell"></i></div>
                        <div class="service-content">
                            <h3>ניהול סיכונים ומסכי תרחישים</h3>
                            <p class="">
                                המערכת מאפשרת לסוחר לבנות חוקים ליצירה התראות ולהציג  את מצב התיקים בתרחישים שונים
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-thermometer-quarter  "></i></div>
                        <div class="service-content">
                            <h3 class="">לידים ומכירות</h3>
                            <p class="">
                                ריכוז פעילות מכירות כולל לידים מקמפיינים, אתר האינטרנט ורשתות חברתיות
                            </p>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>

