
<section class="company bg-white" id="thearchive">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Dalore Archive</h2>
            <div class="heading-line"><span></span></div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <strong>
                    ניהול מדיע הסטורי של מדדים וחשבונות
                </strong>
                <br><br>
                <p>
                    הארכיון מאפשר שמירה וניתוח של נתוני שוק והחשבונות. נתוני מסחר נחוצים לבדיקת אסטרטגיות וניתן לקבלם דרך API. 
                    המערכת מעדכנת נתונים בסיסיים על הנכסים ממגוון ספקי מידע ומרכזת עבור הסוחר את כל נתוני השוק בצורה נגישה
                </p>


                <ul class="no-padding">
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-globe"></i></div>
                        <div class="service-content">
                            <h3>
                                הקלטת נתוני שוק
                            </h3>
                            <p class="">
                               המערכת שומרת את נתוני השוק אחת לדקה בארכיון. כך שניתן לבצע מעקב היסטורי תוך יומי בנוסף ליתרות הסגירה היומיות המתקבלות מהבורסה
                            </p>
                        </div>
                    </li>
                    
                     <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bank"></i></div>
                        <div class="service-content">
                            <h3>נתוני חברות ונכסים</h3>
                            <p class="">
                                הארכיון דוגם את מערכת מאיה אחת לדקה ומעדכן את נתוני החברות כולל דוחות כספיים וארועים כספיים כגון הנפקות
                                כך שכל נתוני החברות נגישות לכל האפליקציות שלך כולל ה CRM
                            </p>
                        </div>
                    </li>
                    
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-briefcase"></i></div>
                        <div class="service-content">
                            <h3>
                                פוזיציות ומצב חשבון יומי
                            </h3>
                            <p class="">
                                הארכיון מבצע דגימה של כל החשבונות והפוזיציות ושומר אותן לצרכי ניתוח או הפקת דוחות לפי דרישה
                            </p>
                        </div>
                    </li>
                    
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-file-excel-o"></i></div>
                        <div class="service-content">
                            <h3>ייבוא קבצי נרות </h3>
                            <p class="">
                               ניתן להעלות קצבי נתונים הסטוריים של נרות 
                               מקבצי אקסל
                            </p>
                        </div>
                    </li>
                    
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-line-chart"></i></div>
                        <div class="service-content">
                            <h3>יצירת נכסים וירטואלים</h3>
                            <p class="">
                                Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames egestas.
                            </p>
                        </div>
                    </li>
                   
                </ul>

            </div>
            <div class="col-md-6 col-xs-12 no-padding text-center aos-init aos-animate" data-aos="fade-right">
                <div class="outer">
                    <img src="/assets/trader-view.png" class="xximg-responsive img-centered inner-image" alt="">
                    <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>
