
<section class="company bg-gray" id="crm">
    <div class="container">
        <div class="row">

            <h2 class="text-center">
                The Brokers CRM
            </h2>

            <div class="heading-line"><span></span></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <strong>
                    מערכת לניהול לקוחות עבור בתי השקעות וקרנות גידור
                </strong>
                <br><br>
                <p>
                    DALORE-CRM היא מערכת ניהול לקוחות המותאמת לשוק ההון. המערכת כוללת מודולים לשיווק ומכירות, מעקב אחר לידים ופתיחת חשבונות מסחר או הפקדות לקרנות
                </p>


                <ul class="no-padding">
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-bullhorn"></i></div>
                        <div class="service-content">
                            <h3>שיווק ומכירות</h3>
                            <p class="">
                                ניהול לידים ועסקאות כולל
                                ריכוז השיווק מפרסומות בגוגל ופייסבוק פוסטים ברשתות חברתיות ודפי נחיתה
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-briefcase"></i></div>
                        <div class="service-content">
                            <h3>פתיחה וניהול של תיק השקעות</h3>
                            <p class="">
                                ניהול פתיחת התיק כולל שימור אמצעי זיהוי ומעקב אחר הפקדות לפתיחת החשבון.
                                ומצב פוזיציות ויתרות בזמן אמת
                            </p>
                        </div>
                    </li>


                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-envelope-o"></i></div>
                        <div class="service-content">
                            <h3>הסטורית התקשרות</h3>
                            <p class="">
                                תעוד מפורט של ההקשרות דרך מייל וטלפון ללקוח
                                מאפשרת מתן שרות יעיל ללקוח
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-image"></i></div>
                        <div class="service-content">
                            <h3>ניהול מסמכים עבור כל חשבון</h3>
                            <p class="">
                                החל ממסמכי זיהוי ועד דוחו"ת הלבנת הון
                                המערכת שומרת את כל המסמכים ומאפשרת שליפה מהירה במקרה הצורך
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-money"></i></div>
                        <div class="service-content">
                            <h3>מעקב הפקדות ומשיכות</h3>
                            <p class="">
                                מעקב אחר משיכות והפקדות של לקוחות לחשבונות ולקרנות
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-phone"></i></div>
                        <div class="service-content">
                            <h3>חדר מסחר</h3>
                            <p class="">
                                קבלת הוראות ביצוע מלקוחות דרך EMAIL או טלפון
                                רישום הפעולות למעקב, ו
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/leads.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/lead-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/account-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/account-info-2.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/dashbard-income.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/trade.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">
                    <ul class="text-left no-padding">
                        <li><i class="fa fa-check-square-o"></i>
                            &nbsp;
                            חיבור למרכזיות טלפונים VOIP
                        </li>
                        <li><i class="fa fa-check-square-o"></i>
                            &nbsp;
                            חיבור לשרתי  OUTLOOK, GMAIL
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <ul class="text-left no-padding">
                        <li><i class="fa fa-check-square-o"></i>
                            &nbsp;
                            תבניות  אמייל מקצועיות 
                        </li>
                        <li><i class="fa fa-check-square-o"></i> </li>
                    </ul>
                </div>
            </div>
        </div>


        <img src="<%= "/assets/website/crm-integration.png" %>" />
    </div>
</section>
