


<section class="company bg-gray" id="ibttp">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Dalore IBTTP Server</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <strong>
                   SIMPLE RESTFUL API FOR INTERACTIVE BROKERS TWS and IBGATEWAY
                </strong>
                <br><br>
                <p>
                   Develop and test strategies on the cloud, without downloading data or compiling code
                </p>


                <ul class="no-padding">
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bullhorn"></i></div>
                        <div class="service-content">
                            <h3>
                               Web Based IDE

                            </h3>
                            <p class="">
Develop your strategy in a simple BASIC like language on the website 
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bullhorn"></i></div>
                        <div class="service-content">
                            <h3>
                                בנית פקודות מסחר מורכבות
                            </h3>
                            <p class="">
                                המערכת מאפשרת למשתמש לבנות פקודות מורכבות כגון SL, TP, BRACKET ואפילו פקודות בין חשבונות
                                לקיצור תהליך שיגור הפקודה ולהתאמה מקסימלית לדרישות הסוחר.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-line-chart"></i></div>
                        <div class="service-content">
                            <h3>אינדיקטורים למסחר טכני</h3>
                            <p class="">
                                שפת הפיתוח שלנו כוללת תמיכה באינדיקטורים כגון RSA,STS,SMA,EMA ועוד
                                וכוללת גם פקודות לזיהוי תבניות של נרות  
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-history"></i></div>
                        <div class="service-content">
                            <h3>בדיקות מול נתוני היסטורים</h3>
                            <p class="">
                                בדיקת האסטרטגיה מול נתוני השוק, נתונים הסטוריים מהארכיון, ונתוני שוק סינטטים לסימולציה של שוק עולה או יורד.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-random"></i></div>
                        <div class="service-content">
                            <h3>ניתוח ואופטימיזציה</h3>
                            <p class="">
                                ניתוח מפורט של פעילות הרובוט וניתוח תוצאות הריצה כולל השוואות מול אינדקסים קיימים
                            </p>
                        </div>
                    </li>
                </ul>


            </div>
            <div class="col-md-6 col-xs-12 no-padding text-center aos-init aos-animate" data-aos="fade-right">


                <div id="myCarouselide" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/strategies-list.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-code.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-info-2.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                    </div>

                </div>

                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>