
<section class="company bg-white" id="server">
    <div class="container">

        <div class="row">

            <h2 class="text-center">
               Dalore Back Office
            </h2>
            <div class="heading-line"></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left">
                    <strong>ניהול מסחר של כל החשבונות ממקום אחד</strong>
                    <br/>
                    <p>
                        מי שנכנס לחדר של סוחר מקצועי נדהם לראות את כמות המחשבים על השולחן. מערכות מסחר מגיעות מהבנק ולכן אם ישנם מספר בנקים אתם עובד הסוחר הוא יעבוד מול מספר מערכות בנפרד. בנוסף ספקי המידע גם הם מגיעים במחשב נפרד. 
                        <br/>
                        <br/>

                        מערכות המסחר שלנו מותאמות לצרכי הלקוח. מאפשרת  ללקוחת להכניס את הלוגיקה של המסחר שלהם לתוך המערכת. לקבוע איזה סוג פקודות לשלוח, לבנות חשבונות מסטר לאיחוד תיקים וכו.

                        הפיתוח נעשה לפלטפורמת WEB המתאימה לשרות כל המשתמשים במשרד על מחשבים, טבלטים וטלפונים
                    </p>

                    <br/>
                    <strong>נתונים חיים לגליונות אקסל</strong>
                    <br/>
                    <p>
                        אקסל הוא אחד הכלים הנחוצים ביותר לסוחר. לכל סוחר יש את האקסל בו הוא מנהל את מסחר שלו  ועכשיו אפשר לחבר את האקסל לנתוני המסחר והחשבונות 
                        <br/>
                        <br/>
                        שרת המסחר שלנו מאפשר חיבור ללא צורך בפלגאין לקבלת נתונים חיים אודות השוק, הפוזיציות שלך ויתרות החשבון

                    </p>

                </div>


                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/backoffice%20-%20system%20diagram.png" class="xximg-responsive img-centered inner-image" style="background-color:#fff;padding:1em;" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/supported-plaforms.png" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>



                    </div>
                </div>


                <br/>
                <p>

                </p>
            </div>

            <div class="col-md-6 col-xs-12">
                <ul class="no-padding">
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-clock-o"></i></div>
                        <div class="service-content">
                            <h3>מצב כל החשבונות בזמן אמת</h3>
                            <p class="">אין צורך לקפץ ממחשב למחשב לביצוע הוראות. שלוט על כל תחנות המסחר שלך ממקום אחד</p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-random"></i></div>
                        <div class="service-content">
                            <h3>ביצוע פוזיציות בין חשבונות</h3>
                            <p class="">
                                מערכת המסחר מאפשרת לך להגדיר חשבון על הכולל מספר חשבונות מבנקים שונים ולהתייחס אליהם כחשבון בודד.
                                ולנהל פוזיציות בין החשבונות
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-file-excel-o"></i></div>
                        <div class="service-content">
                            <h3>קישור לגליונות אקסל</h3>
                            <p class="">
                                חיבור לגליונות אקסל לקבלת נתוני שוק , מצב חשבון ופוציזיות
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-rss"></i></div>
                        <div class="service-content">
                            <h3>ריכוז הודעות מהבורסה וממאיה</h3>
                            <p class="">
                                חיבור בזמן אמת למערכת מאיה כולל  תשקיפים ודוחו"ת כספיים
                                חיבור דומה לבורסאות בארופה אסיה ואמריקה
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-money"></i></div>
                        <div class="service-content">
                            <h3>שיגור הוראות לתוכנת המסחר</h3>
                            <p class="">
                                שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                שליחת הוראות מורכבות לכל בנק.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div style="padding:2em;">
                            <h3>מערכות מסחר נתמכות</h3>
                            <br/>
                            <ul class="text-left no-padding">
                                <li><i class="fa fa-check-square-o"></i> FRM TASKBAR </li>
                                <li><i class="fa fa-check-square-o"></i> SIVRON AGENT</li>
                                <li><i class="fa fa-check-square-o"></i> INTERACTIVE BROKERS</li>
                                <li><i class="fa fa-check-square-o"></i> LIQUI </li>
                                <li><i class="fa fa-check-square-o"></i> BITTREX </li>
                                <li><i class="fa fa-check-square-o"></i> BITFINEX </li>
                                <li><i class="fa fa-check-square-o"></i> BINANCE </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <a  href="/pages/api" class="btn btn-success">
                    <i class="fa fa-html5"></i>
                    HTTP API
                </a>

                <a href="/pages/websocket_api"  class="btn btn-success">
                    <i class="fa fa-html5"></i>
                    WEBSOCKET API
                </a>



            </div>

        </div>

    </div>
</section>
