 <section class="company bg-white" id="thetradingroom">
            <div class="container">
                <div class="row">
                    <br/>
                    <h2 class="text-center">חדר המסחר</h2>
                    <div class="heading-line"><span></span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 no-padding text-center aos-init aos-animate" data-aos="fade-right">
                        <div class="text-left">
                            <strong>ניהול חדר מסחר </strong>
                            <br><br>
                            <p>
                                מערכת לניהול חדר מסחר מאפשרת לנהל את הפעילות מול הלקחות המשקיעים. 
                            </p>

                        </div>
                        <div class="outer">
                            <img src="/assets/website/tradingroom.png" class="xximg-responsive img-centered inner-image" alt="">
                            <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                        </div>

                    </div>

                    <div class="col-md-6 col-xs-12">


                        <ul class="no-padding">
                            <li data-aos="fade-right" class="aos-init">
                                <div class="service-ico"><i class="fa fa-clock-o"></i></div>
                                <div class="service-content">
                                    <h3>מצב כל החשבונות בזמן אמת</h3>
                                    <p class="">אין צורך לקפץ ממחשב למחשב לביצוע הוראות. שלוט על כל תחנות המסחר שלך ממקום אחד</p>
                                </div>
                            </li>
                            <li data-aos="fade-right" class="aos-init">
                                <div class="service-ico"><i class="fa fa-money"></i></div>
                                <div class="service-content">
                                    <h3>שיגור הוראות לתוכנת המסחר</h3>
                                    <p class="">
                                        שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                        שליחת הוראות מורכבות לכל בנק.
                                    </p>
                                </div>
                            </li>
                            <li data-aos="fade-right" class="aos-init">
                                <div class="service-ico"><i class="fa fa-ticket"></i></div>
                                <div class="service-content">
                                    <h3>ניהול כרטיסי שרות לקוחות</h3>
                                    <p class="">
                                        פתיחה וניהול של כרטיסי שרות ללקוחות
                                        כולל הפנייות ומעקב התכתבויות
                                    </p>
                                </div>
                            </li>
                            <li data-aos="fade-right" class="aos-init">
                                <div class="service-ico"><i class="fa fa-bank"></i></div>
                                <div class="service-content">
                                    <h3>עדכון ושליחה של קבצי חשבונות לבנקים</h3>
                                    <p class="">
                                        כל סוחר בונה לעצמו את מסכי המסחר ונתוני השוק 
                                        המערכת כוללת מגוון רחב של תבניות מסכים המותאמות למסכים גדולים, מספר מסכים ואפילו לטבלטים ומכשירים ניידם
                                    </p>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </section>