<section class="company bg-gray" id="workspace">
    <div class="container">
        <div class="row">
            <br/>
            <h2 class="text-center"> Dalore Trading Station </h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center aos-init aos-animate" data-aos="fade-right">
                <div class="text-left">
                    <strong>ניהול מסחר של כל החשבונות ממקום אחד</strong>
                    <br/>
                    <br/>
                    <p>
                       מי שנכנס לחדר של סוחר מקצועי נדהם לראות את כמות המחשבים על השולחן. מערכות מסחר מגיעות מהבנק ולכן אם ישנם מספר בנקים אתם עובד הסוחר הוא יעבוד מול מספר מערכות בנפרד. בנוסף ספקי המידע גם הם מגיעים במחשב נפרד. 
                       <br/>
                       <br/>

מערכות המסחר שלנו מתחברות לכל תחנת מסחר של הבנקים ואל ספקי המידע דרך ה API של כל ספק וספק. ומציגות את המידע לסוחר במקום אחד. כל החשבונות, כל הפוזיציות ונתוני השוק הרולוונטים. 
כך שאתה יכול לבנות את החשובונות לפי החלוקה של התיקים שלך ולא לפי הבנקים. מערכת המסחר  מנתבת את ההוראות שנשלחות דרכה אל תחנת המסחר הנכונה ומעבירה את ההוראות.
                    </p>

                </div>
                <div class="outer">
                    <img src="/assets/dark-trading.png" class="xximg-responsive img-centered inner-image" alt="">
                    <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                </div>
                <br/>
                    <p>
                  מערכות המסחר שלנו מותאמות לצרכי הלקוח. מאפשרת  ללקוחת להכניס את הלוגיקה של המסחר שלהם לתוך המערכת. לקבוע איזה סוג פקודות לשלוח, לבנות חשבונות מסטר לאיחוד תיקים וכו.
                </p>

                
                <h3 class="text-center">מערכות מסחר נתמכות  </h3>
                <div class="heading-line"><span></span></div>
                <img src="/assets/website/all.png" width="700px" class="text-center">

            </div>

            <div class="col-md-6 col-xs-12">


                <ul class="no-padding">
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-clock-o"></i></div>
                        <div class="service-content">
                            <h3>מצב כל החשבונות בזמן אמת</h3>
                            <p class="">אין צורך לקפץ ממחשב למחשב לביצוע הוראות. שלוט על כל תחנות המסחר שלך ממקום אחד</p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-desktop"></i></div>
                        <div class="service-content">
                            <h3>מסכים מודולרים והתאמה אישית של נתוני שוק וחשבונות</h3>
                            <p class="">
                                כל סוחר בונה לעצמו את מסכי המסחר ונתוני השוק 
                                המערכת כוללת מגוון רחב של תבניות מסכים המותאמות למסכים גדולים, מספר מסכים ואפילו לטבלטים ומכשירים ניידם
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-random"></i></div>
                        <div class="service-content">
                            <h3>ביצוע פוזיציות בין חשבונות</h3>
                            <p class="">
                                מערכת המסחר מאפשרת לך להגדיר חשבון על הכולל מספר חשבונות מבנקים שונים ולהתייחס אליהם כחשבון בודד.
                                ולנהל פוזיציות בין החשבונות
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-rss"></i></div>
                        <div class="service-content">
                            <h3>ריכוז הודעות מהבורסה וממאיה</h3>
                            <p class="">
                                חיבור בזמן אמת למערכת מאיה כולל  תשקיפים ודוחו"ת כספיים
                                חיבור דומה לבורסאות בארופה אסיה ואמריקה
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bell"></i></div>
                        <div class="service-content">
                            <h3>ניהול סיכונים ומסכי תרחישים</h3>
                            <p class="">
                                המערכת מאפשרת לסוחר לבנות חוקים ליצירה התראות ולהציג  את מצב התיקים בתרחישים שונים
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-money"></i></div>
                        <div class="service-content">
                            <h3>שיגור הוראות לתוכנת המסחר</h3>
                            <p class="">
                                שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                שליחת הוראות מורכבות לכל בנק.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-comments"></i></div>
                        <div class="service-content">
                            <h3>הודעות בין סוחרים</h3>
                            <p class="">
                                הסוחרים יכולים להתכבת בצ'אט בזמן אמת 
                                נתוני ההתכתבות מוצפנים כך שאינך חשוף לדליפת מידע
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
    </div>
    
    
</section>