
<section class="banner">
    <div class="each-slide third-slide" style="background-image:url(/assets/website/archive-banner-2.jpeg);">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h4>Dalore Financial</h4>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">Dalore Archive</h2>
        <br/>
        <br/>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <h2 class="text-center"> Dalore Archive</h2>
            <div class="heading-line"><span></span></div>
            פלטפורמה לשמירת נתונים היסטוריים על השוק , פוזיציות ומצב חשבון כולל נרות יומיים ותוך יומיים, נתונים פנדמנטלים, דו"חות כספיים והודעות לבורסה.  

            <br/>  <br/>  <br/>
            <div class="row">
                <div class="col-md-4 col-xs-6 text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/101-hierarchical-structure.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#thebrokersdashboard">נתוני חברות</a></h3>
                        <p class="text-left">
                            גרסת הTEAM שלנו מאפשרת לחבר מספר תחנות מסחר של TWS במקביל ולרכז את כל המידע ממקום אחד ולהגדיל את כמות הנתונים בזמן אמת
                        </p>
                    </div>
                </div>


                <div class="col-md-4 col-xs-6  text-center">
                    <div class="feature-big-ico"><img src="<%= "/assets/website/030-html-5.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3><a href="#crm">  נתוני מסחר </a></h3>
                        <p class="text-left">
                            קישוריות פשוטה לבורסות בעולם דרך תחנת המסחר TWS ללא צורך בידע ונסיון ב API הספציפי של כל ברוקר, ובמבנה אחיד של נתונים מותאם לאפליקציות וגליונות אקסל
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6  text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/stats-1.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#tradingmachine"> מידע פיננסי</a></h3>
                        <p class="text-left">
                            חיבור בזמן אמת של נתוני החשבונות ונתוני השוק הישר לתוך גליונות  האקסל שלך. הודות ל API הסטנדרטי שלנו. בעזרת ה וויזארד של אקסל וללא צורך בתוספים.
                        </p>
                    </div>
                </div>


            </div>
            <br/>
        </div>
</section>



<section class="company bg-white" id="thearchive">
    <div class="container">
        <div class="row">
            <h2 class="text-center">הארכיון</h2>
            <div class="heading-line"><span></span></div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <strong>
                    ניהול מדיע הסטורי של מדדים וחשבונות
                </strong>
                <br><br>
                <p>
                    הארכיון מאפשר שמירה וניתוח של נתוני שוק והחשבונות. נתוני מסחר נחוצים לבדיקת אסטרטגיות וניתן לקבלם דרך API. 
                    המערכת מעדכנת נתונים בסיסיים על הנכסים ממגוון ספקי מידע ומרכזת עבור הסוחר את כל נתוני השוק בצורה נגישה
                </p>


                <ul class="no-padding">
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-globe"></i></div>
                        <div class="service-content">
                            <h3>
                                הקלטת נתוני שוק
                            </h3>
                            <p class="">
                               המערכת שומרת את נתוני השוק אחת לדקה בארכיון. כך שניתן לבצע מעקב היסטורי תוך יומי בנוסף ליתרות הסגירה היומיות המתקבלות מהבורסה
                            </p>
                        </div>
                    </li>
                    
                     <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bank"></i></div>
                        <div class="service-content">
                            <h3>נתוני חברות ונכסים</h3>
                            <p class="">
                                הארכיון דוגם את מערכת מאיה אחת לדקה ומעדכן את נתוני החברות כולל דוחות כספיים וארועים כספיים כגון הנפקות
                                כך שכל נתוני החברות נגישות לכל האפליקציות שלך כולל ה CRM
                            </p>
                        </div>
                    </li>
                    
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-briefcase"></i></div>
                        <div class="service-content">
                            <h3>
                                פוזיציות ומצב חשבון יומי
                            </h3>
                            <p class="">
                                הארכיון מבצע דגימה של כל החשבונות והפוזיציות ושומר אותן לצרכי ניתוח או הפקת דוחות לפי דרישה
                            </p>
                        </div>
                    </li>
                    
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-file-excel-o"></i></div>
                        <div class="service-content">
                            <h3>ייבוא קבצי נרות </h3>
                            <p class="">
                               ניתן להעלות קצבי נתונים הסטוריים של נרות 
                               מקבצי אקסל
                            </p>
                        </div>
                    </li>
                    
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-line-chart"></i></div>
                        <div class="service-content">
                            <h3>יצירת נכסים וירטואלים</h3>
                            <p class="">
                                Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames egestas.
                            </p>
                        </div>
                    </li>
                   
                </ul>

            </div>
            <div class="col-md-6 col-xs-12 no-padding text-center aos-init aos-animate" data-aos="fade-right">
                <div class="outer">
                    <img src="/assets/trader-view.png" class="xximg-responsive img-centered inner-image" alt="">
                    <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>



            <section class="company bg-gray" id="server">
                <div class="container">
                    <div class="row">
                        <h2 class="text-center">
                           API
                        </h2>
                        <div class="heading-line"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-xs-12 text-left " >
                            <ul class="no-padding">
                                <li data-aos="fade-right" class="">
                                    <div class="service-content">
                                        <h3>מצב כל החשבונות בזמן אמת</h3>
                                        <p class="">אין צורך לקפץ ממחשב למחשב לביצוע הוראות. שלוט על כל תחנות המסחר שלך ממקום אחד</p>
                                    </div>
                                </li>
                                <li data-aos="fade-right" class="">
                                    <div class="service-content">
                                        <h3>ביצוע פוזיציות בין חשבונות</h3>
                                        <p class="">
                                            מערכת המסחר מאפשרת לך להגדיר חשבון על הכולל מספר חשבונות מבנקים שונים ולהתייחס אליהם כחשבון בודד.
                                            ולנהל פוזיציות בין החשבונות
                                        </p>
                                    </div>
                                </li>
                                <li data-aos="fade-right" class="">
                                    <div class="service-content">
                                        <h3>קישור לגליונות אקסל</h3>
                                        <p class="">
                                            חיבור לגליונות אקסל לקבלת נתוני שוק , מצב חשבון ופוציזיות
                                        </p>
                                    </div>
                                </li>
                                <li data-aos="fade-right" class="">
                                    <div class="service-content">
                                        <h3>ריכוז הודעות מהבורסה וממאיה</h3>
                                        <p class="">
                                            חיבור בזמן אמת למערכת מאיה כולל  תשקיפים ודוחו"ת כספיים
                                            חיבור דומה לבורסאות בארופה אסיה ואמריקה
                                        </p>
                                    </div>
                                </li>
                                <li data-aos="fade-right" class="">
                                    <div class="service-content">
                                        <h3>שיגור הוראות לתוכנת המסחר</h3>
                                        <p class="">
                                            שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                            שליחת הוראות מורכבות לכל בנק.
                                        </p>
                                    </div>
                                </li>

                            </ul>

                        </div>

                        <div class="col-md-9 col-xs-12 no-padding text-center  " data-aos="fade-right">
                            <div class="text-left text-english text-small">


                                <br/><b> Account and Positions </b>
                                <ul>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/account/list      </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/info    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/positions    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/orders    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/trades    </li>
                                </ul>



                                <br/><b> Orders </b>
                                <ul>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/buy/:symbol?&qty=4&limit=983.21      </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/sell/:symbol?&qty=4&limit=983.21    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/buy/:symbol?&qty=4&limit=983.21    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/bracket/buy/:symbol?&qty=4&limit=983.21    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/bracket/sell/:symbol?&qty=4&limit=983.21    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account-id/order/:order-id/status    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account-id/order/:order-id/update?qty=34&limit=873.3    </li>
                                    <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account-id/order/:order-id/cancel    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
            </section>



<section class="newsletter" id='contactus'>
    <h2 class="text-center">השאר פרטים לקבלת מידע</h2>
    <div class="heading-line"><span></span></div>
    <div class="container">
        <div class="row text-center">
            <form action="/pages/inquiry" method="post">
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <span class="icon-for-contact"><i class="fa fa-user "></i></span> 
                        <input type="name"  name="name" placeholder="Name" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-envelope "></i></span> 
                        <input type="email"   name="email" placeholder="Enter email" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-phone "></i></span> 
                        <input type="phone"  name="phone" placeholder="Phone" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                    </div>
                    <div class="col-lg-6 text-left" >
                        <textarea type="message"   name="message" width=100% rows=2 cols=40 class="message" data-aos="fade"/></textarea><br/>

                    </div>
                    <button class="btn btn-blue btn-lightblue aos-init text-center" data-aos="fade" data-aos-delay="300">שלח</button>
            </form>
        </div>
    </div>
</section>

<style>
    .text-english {
        direction:ltr;
        text-align: left;
    }
    li.text-small{
        font-size:8px;
    }
    .text-white{
        color:#fff;
    }
</style>