

<section class="features" >
    <div class="container">
        <div class="row">
            <h2 class="text-center">DALORE CLIENT APP</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <br/>  <br/>  <br/>

        <div class="row text-right " style="direction:ltr;">

            <div class="col-lg-9">
                <%= render "/pages/api/client/dalore_client_start_here"  if params[:v].nil? %>
            </div>
            <div class="col-lg-3">
                <h4>Market Info</h4>
                <ul class="navigation">
                    <li class="menu"><a href="/pages/api">start here</a></li>
                    <li class="menu"><a href="/pages/api">Fundamental Data</a></li>
                    <li class="menu"><a href="/pages/api">Historic Quotes and Candles</a></li>
                </ul>
                <br/>
                <h4>Account and Positions</h4>
                <ul class="navigation">
                    <li class="menu"><a href="/pages/api?v=account-info">Account Info</a></li>
                    <li class="menu"><a href="/pages/api?v=account-info">Account Positions</a></li>
                    <li class="menu"><a href="/pages/api?v=account-info">Account Open Orders</a></li>
                    <li class="menu"><a href="/pages/api?v=account-info">Account Trades</a></li>
                </ul>
                <br/>
                <h4>Orders and Trades</h4>
                <ul class="navigation">
                    <li class="menu"><a href="/pages/api?v=orders">Managing Orders</a></li>
                    <li class="menu"><a href="/pages/api?v=orders">Buying and Selling</a></li>
                    <li class="menu"><a href="/pages/api?v=orders">Updateing Order</a></li>
                    <li class="menu"><a href="/pages/api?v=orders">Cancelling Order</a></li>
                    <li class="menu"><a href="/pages/api?v=orders">Trades</a></li>
                </ul>
                <br/>
                <h4>Strategies</h4>
                <ul class="navigation">
                    <li class="menu"><a href="">Strategy list</a></li>
                    <li class="menu"><a href="">Starting and Stopping</a></li>
                    <li class="menu"><a href="">Update Parameters</a></li>
                    <li class="menu"><a href="">Backtest</a></li>
                </ul>
                <br/>
                <h4>Admin</h4>
                <ul class="navigation">
                    <li class="menu"><a href="">Managing Orders</a></li>
                    <li class="menu"><a href="">Buying ans Selling</a></li>
                </ul>
                <br/>

                <h4>Parameters</h4>
                <ul class="navigation">

                    <li class="menu"><a href="">:account</a></li>
                    <li class="menu"><a href="">:accounts</a></li>
                    <li class="menu"><a href="">:symbol</a></li>
                    <li class="menu"><a href="">:symbols</a></li>
                    <li class="menu"><a href="">:callback</a></li>
                </ul>
                <br/>
            </div>
        </div>
    </div>
</section>
