
<section class="banner">
    <div class="each-slide third-slide" style="background-image:url(/assets/website/archive-banner-2.jpeg);">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h4>Dalore Financial</h4>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">Dalore Trading System</h2>
        <br/>
        <br/>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <h2 class="text-center"> Dalore Trading Systems</h2>
            <div class="heading-line"><span></span></div>
            מערכות מסחר מודולריות לחיבור למספר בורסאות

            <br/>  <br/>  <br/>
            <div class="row">
                <div class="col-md-4 col-xs-6 text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/text-lines-2.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#thebrokersdashboard">נתוני חברות</a></h3>
                        <p class="text-left">
                           חיבור למערכת מאיה  הכולל הודעות מתפרצות, דוחות כספיים , והנפקות  של חברות בבורסה הישראלית. חיבור לשרתי מידע בעולם לקבלת נתוני בסיס על חברות הנסחרות בבורסות בארה"ב ובארופה

                        </p>
                    </div>
                </div>


                <div class="col-md-4 col-xs-6  text-center">
                    <div class="feature-big-ico"><img src="<%= "/assets/website/line-graphic.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3><a href="#crm">  נתוני מסחר </a></h3>
                        <p class="text-left">
נתוני סוף יום הסטוריים נקראים אוטומטית מאתר הבורסה. ודגימת כל השוק פעם בדקה בחיבור ל BACK OFFICE. או לשרתי המסחר שלנו
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6  text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/030-html-5.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#tradingmachine"> RESTFUL API</a></h3>
                        <p class="text-left">
                            כל הנתונים חשופים למשמתמש דרך  REST API
                            המאפשר גישה קלה ומהירה לנתונים ללא קשר לשפת הפיתוח
                        </p>
                    </div>
                </div>


            </div>
            <br/>
        </div>
</section>


<%= render :partial => "pages/trader" %>


<section class="newsletter" id='contactus'>
    <h2 class="text-center">השאר פרטים לקבלת מידע</h2>
    <div class="heading-line"><span></span></div>
    <div class="container">
        <div class="row text-center">
            <form action="/pages/inquiry" method="post">
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <span class="icon-for-contact"><i class="fa fa-user "></i></span> 
                        <input type="name"  name="name" placeholder="Name" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-envelope "></i></span> 
                        <input type="email"   name="email" placeholder="Enter email" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-phone "></i></span> 
                        <input type="phone"  name="phone" placeholder="Phone" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                    </div>
                    <div class="col-lg-6 text-left" >
                        <textarea type="message"   name="message" width=100% rows=2 cols=40 class="message" data-aos="fade"/></textarea><br/>

                    </div>
                    <button class="btn btn-blue btn-lightblue aos-init text-center" data-aos="fade" data-aos-delay="300">שלח</button>
            </form>
        </div>
    </div>
</section>

<style>
    .text-english {
        direction:ltr;
        text-align: left;
    }
    li.text-small{
        font-size:8px;
    }
    .text-white{
        color:#fff;
    }
</style>