<section class="banner">
    <div class="each-slide third-slide" style="background-image:url(/assets/website/trading-machine-banner.jpg);">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h4>Dalore Financial</h4>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">מכונת המסחר</h2>
        <br/>

        <br/>
        <p class="text-center text-big">
            פלטפורמת לפיתוח, בדיקות והרצה של אסטרטגיות אוטומטיות ולמסחר בשוק ההון במניות , אופציות, מט"ח ומטבעות וריטואלים.

        </p>
    </div>
</section>



<section class="features">
    <div class="container">
        <div class="row">
            <h2 class="text-center"> מכונת המסחר</h2>
            <div class="heading-line"><span></span></div>

            <div class="text-center">
                פלטפורמת לפיתוח, בדיקות והרצה של אסטרטגיות אוטומטיות ולמסחר בשוק ההון במניות , אופציות, מט"ח ומטבעות וריטואלים. 
            </div>


            <br/>  <br/>  <br/>
            <div class="row">
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/044-contract-1.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#thebrokersdashboard">פיתוח אלגו בשפה פשוטה</a></h3>
                        <p class="text-left">
                            ניהול לידים ועסקאות כולל ריכוז השיווק מפרסומות בגוגל ופייסבוק פוסטים ברשתות חברתיות ודפי נחיתה
                        </p>
                    </div>
                </div>


                <div class="col-md-3 col-xs-6  text-center">
                    <div class="feature-big-ico"><img src="<%= "/assets/website/101-analytics-1.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3><a href="#crm"> בדיקות BACK TESTS  </a></h3>
                        <p class="text-left">
                            ניהול פתיחת התיק כולל שימור אמצעי זיהוי ומעקב אחר הפקדות לפתיחת החשבון. ומצב פוזיציות ויתרות בזמן אמת
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6  text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/stats2.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#tradingmachine"> ניתוח תוצאות האסטרטגיה</a></h3>
                        <p class="text-left">
                            תעוד מפורט של ההקשרות דרך מייל וטלפון ללקוח מאפשרת מתן שרות יעיל ללקוח

                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6  text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/007-chat.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#tradingmachine"> רשת סוחרים חברתית</a></h3>
                        <p class="text-left">
                            שתף והשווה את תוצאות האסטרטגיות שלך מול שאר חברי הרשת
                        </p>
                    </div>
                </div>


            </div>
            <br/>
            <div class="text-center">
                <a  href="/pages/strategies_api" class="btn btn-success">
                    <i class="fa fa-html5"></i>
                    Dalore Strategies API
                </a>
            </div>
        </div>
    </div>
</section>





<section class="company bg-gray" id="tradingmachine">
    <div class="container">
        <div class="row">
            <h2 class="text-center">  פיתוח אסטרטגיות מסחר ופקודות אוטומטיות</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <br><br>
                <p>
                    כלי פיתוח אסטרגיות מסחר , סורקים ורובוטים למסחר אוטומטי. שפת הפיתוח קלה פשוטה וכוללת את כל המידע הנדרש לפיתוח כולל נתוני שוק , אינדיקטורים ומצב חשבון. 
                </p>


                <ul class="no-padding">
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bullhorn"></i></div>
                        <div class="service-content">
                            <h3>
                                פיתוח אסטרטגיות מסחר אוטומטיות
                            </h3>
                            <p class="">
                                פיתוח אלגוריתמים למסחר בשפה פשוטה ללא ידע רב  בתכנות
                                דרך הדפדפן.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-bullhorn"></i></div>
                        <div class="service-content">
                            <h3>
                                בנית פקודות מסחר מורכבות
                            </h3>
                            <p class="">
                                המערכת מאפשרת למשתמש לבנות פקודות מורכבות כגון SL, TP, BRACKET ואפילו פקודות בין חשבונות
                                לקיצור תהליך שיגור הפקודה ולהתאמה מקסימלית לדרישות הסוחר.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-line-chart"></i></div>
                        <div class="service-content">
                            <h3>אינדיקטורים למסחר טכני</h3>
                            <p class="">
                                שפת הפיתוח שלנו כוללת תמיכה באינדיקטורים כגון RSA,STS,SMA,EMA ועוד
                                וכוללת גם פקודות לזיהוי תבניות של נרות  
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-history"></i></div>
                        <div class="service-content">
                            <h3>בדיקות מול נתוני היסטורים</h3>
                            <p class="">
                                בדיקת האסטרטגיה מול נתוני השוק, נתונים הסטוריים מהארכיון, ונתוני שוק סינטטים לסימולציה של שוק עולה או יורד.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="aos-init">
                        <div class="service-ico"><i class="fa fa-random"></i></div>
                        <div class="service-content">
                            <h3>ניתוח ואופטימיזציה</h3>
                            <p class="">
                                ניתוח מפורט של פעילות הרובוט וניתוח תוצאות הריצה כולל השוואות מול אינדקסים קיימים
                            </p>
                        </div>
                    </li>
                </ul>


            </div>
            <div class="col-md-6 col-xs-12 no-padding text-center aos-init aos-animate" data-aos="fade-right">


                <div id="myCarouselide" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/strategies-list.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-code.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-info-2.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                    </div>

                </div>

                <br/>
                <br/>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3>אינדיקטורים טכניים</h3><hr/>
                <table class="table table-condensed table-stripped">
                    <tbody>
                        <tr> 
                            <td>RSI </td>
                            <td>Relative Strength Index</td>
                        </tr>
                        <tr> 
                            <td>STS </td>
                            <td>Stochastic Oscillator </td>
                        </tr>

                        <tr> 
                            <td>MACD </td>
                            <td>Moving Average Convergence Divergence</td>
                        </tr>

                        <tr> 
                            <td>EMA </td>
                            <td>Exponential Moving Average</td>
                        </tr>
                        <tr> 
                            <td>SMA </td>
                            <td>Moving Averages</td>
                        </tr>
                        <tr> 
                            <td>OBV </td>
                            <td>On-Balance Volume</td>
                        </tr>
                        <tr> 
                            <td>BB </td>
                            <td>bollinger bands</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <h3>זיהוי נרות</h3><hr/>
                <table class="table table-condensed table-stripped">
                    <tbody>
                        <tr>
                            <td>Doji</td> 
                            <td>Shooting Star</td> 
                        </tr> 
                        <tr>
                            <td>Hammer</td>  
                            <td>Engulfing</td>  
                        </tr> 
                        <tr>
                            <td>Harami</td>  
                            <td>Piercing</td> 
                        </tr> 
                        <tr>
                            <td>Dark Cloud Cover</td>  
                            <td>Evening Star</td> 
                        </tr> 
                        <tr>
                            <td>Abandoned Baby</td>  
                            <td>Three Line Strike</td> 
                        </tr> 
                        <tr>
                            <td>Two Black Gapping</td>  
                            <td>Bullish Kicker</td>  
                        </tr> 
                        <tr>
                            <td>Bearish Kicker</td>  
                            <td>Three Black Crows</td> 
                        </tr> 
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>


<section class="company bg-white" id="thebrokersdashboard">
    <div class="container">
        <div class="row">
            <br/>
            <h2 class="text-center">בדיקות BACK TEST וניתוח</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left">
                    <strong>התמונה המלאה בזמן אמת</strong>
                    <br><br>
                    <p>
                        המשרד האחורי מחובר בזמן אמת לכל תחנות הסוחרים כך שבכל רגע נתון ניתן לקבל תמונה עדכנית של כל החשבונות ממקום אחד.
                    </p>
                </div>

                <div id="myCarouselide" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/strategies-list.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-code.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-info.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/strategy-info-2.PNG" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-xs-12">


                <ul class="no-padding">

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-heartbeat"></i></div>
                        <div class="service-content">
                            <h3>מעקב אחר כל שינוי בכל חשבון</h3>
                            <p class="">חיבור לכל תחנות המסחר לקבלת תמונה שלמה ועדכנית על מצב החשבונות ושינויים בתיקים או בשוק</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-users"></i></div>
                        <div class="service-content">
                            <h3>פעילות יומית של כל הסוחרים</h3>
                            <p class="">מעקב אחר כל ההוראות שנשלחו במהלך יום המסמחר</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-briefcase  "></i></div>
                        <div class="service-content">
                            <h3>מעקב חשבונות</h3>
                            <p class="">
                                מעקב אחר מצב חשבונות, פוזיציות ועסקאות בזמן אמת
                            </p>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>



<section class="company bg-gray" id="thebrokersdashboard">
    <div class="container">
        <div class="row">
            <br/>
            <h2 class="text-center">שרת אסטרטגיות</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left">
                    <strong>הרצת מאות אסטרטגיות במקביל</strong>
                    <br><br>
                    <p>
                        שרת האסטרטגיות מאפשר להריץ מספר רב של אסטרטגיות במקביל
                    </p>
                </div>

                <br/>
                   <table class="table table-condensed table-stripped text-left">
                <thead>
                    <tr>
                        <th>סוג</th>
                        <th>ברוקר\בנק</th>
                        <th>ברוקר\בנק</th>
                    </tr>
                </thead>
                <tbody>

                    <tr> 
                        <td>מניות  בישראל</td>
                        <td>סיברון</td>
                        <td></td>
                    </tr>
                    <tr> 
                        <td>מניות  בישראל</td>
                        <td>אפ.אמ.אר</td>
                        <td></td>
                    </tr>
                    <tr> 
                        <td>מניות בחו"ל</td>
                        <td>Interactive Brokers</td>
                        <td></td>
                    </tr>
                    <tr> 
                        <td>מטח בחו"ל</td>
                        <td>Interactive Brokers</td>
                        <td></td>
                    </tr>
                    <tr> 
                        <td>מטבעות וירטואליים</td>
                        <td>Liqui</td>
                        <td></td>
                    </tr>
                    <tr> 
                        <td>מטבעות וירטואליים</td>
                        <td>Bittrex</td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
                
                
            </div>

            <div class="col-md-6 col-xs-12">


                <ul class="no-padding">

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-heartbeat"></i></div>
                        <div class="service-content">
                            <h3>מעקב אחר כל שינוי בכל חשבון</h3>
                            <p class="">חיבור לכל תחנות המסחר לקבלת תמונה שלמה ועדכנית על מצב החשבונות ושינויים בתיקים או בשוק</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-users"></i></div>
                        <div class="service-content">
                            <h3>פעילות יומית של כל הסוחרים</h3>
                            <p class="">מעקב אחר כל ההוראות שנשלחו במהלך יום המסמחר</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-briefcase  "></i></div>
                        <div class="service-content">
                            <h3>מעקב חשבונות</h3>
                            <p class="">
                                מעקב אחר מצב חשבונות, פוזיציות ועסקאות בזמן אמת
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-ticket  "></i></div>
                        <div class="service-content">
                            <h3 class="">שרות לקוחות</h3>
                            <p class="">
                                סיכום פעילות חדר מסחר ושרות לקוחות כולל כרטיסי שרות ושיחות טלפון והודאות דואר אלקטרוני
                            </p>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
        
        <div class="row">
            <div class="col-lg-2">
                <img src="/assets/website/ib-logo-2.png" height='70px'>
            </div>
            <div class="col-lg-2">
                <img src="/assets/website/logo-leumi.png" alt="client" height='70px'>
            </div>
            <div class="col-lg-2">
                <img src="/assets/website/discount-logo.png" alt="client" height='70px'> 
            </div>

            <div class="col-lg-2">
                <img src="/assets/website/poalim-logo.png" alt="client" height='70px'>
            </div>
            <div class="col-lg-2">
                <img src="/assets/website/liqui-logo.svg" alt="client" height='70px'>
            </div>
            <div class="col-lg-2">
                <img src="/assets/website/bittrex-logo-transparent.png" alt="client" height='70px'>
            </div>
        </div>
    </div>
</section>


<section class="plans" id="plans">
    <h2 class="text-center">גרסאות</h2>
    <div class="heading-line"><span></span></div>
    <p class="text-center">בחר את הגרסה המתאימה לך</p>
    <div class="container container-fw">
        <div class="row">
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">Strategies IDE</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">פר חודש למשתמש30.99</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור לתוכנת סיברון</li>
                        <li>נתוני שוק</li>
                        <li>נתוני חשבון ופוזיציות</li>
                        <li>שיגור הוראות</li>
                    </ul>
                    <a href="#" class="plan-btn">הזמן עכשיו</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">Trading Machine </h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">$699.99</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור לתוכנת FMR </li>
                        <li>נתוני שוק</li>
                        <li>נתוני חשבון ופוזיציות</li>
                        <li>שיגור הוראות</li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">Trading Machine Pro</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">Call for details</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור למספר בנקים במקביל</li>
                        <li>נתוני שוק</li>
                        <li>נתוני חשבון ופוזיציות</li>
                        <li>שיגור הוראות</li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="newsletter" id='contactus'>
    <h2 class="text-center">השאר פרטים לקבלת מידע</h2>
    <div class="heading-line"><span></span></div>
    <div class="container">
        <div class="row text-center">
            <form action="/pages/inquiry" method="post">
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <span class="icon-for-contact"><i class="fa fa-user "></i></span> 
                        <input type="name"  name="name" placeholder="Name" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-envelope "></i></span> 
                        <input type="email"   name="email" placeholder="Enter email" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-phone "></i></span> 
                        <input type="phone"  name="phone" placeholder="Phone" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                    </div>
                    <div class="col-lg-6 text-left" >
                        <textarea type="message"   name="message" width=100% rows=2 cols=40 class="message" data-aos="fade"/></textarea><br/>

                    </div>
                    <button class="btn btn-blue btn-lightblue aos-init text-center" data-aos="fade" data-aos-delay="300">שלח</button>
            </form>
        </div>
    </div>
</section>




<style>
    .text-english {
        direction:ltr;
        text-align: left;
    }
    li.text-small{
        font-size:8px;
    }
    .text-white{
        color:#fff;
    }
</style>