
<section class="banner hidden">
    <div class="each-slide third-slide" style="background-image:url(https://s-i.huffpost.com/gen/1828108/images/o-WALL-STREET-facebook.jpg);">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h4>Dalore Financial</h4>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">פתרונות תוכנה לשוק ההון</h2>
        <br/>
        <br/>
        <br/>
        <div class="container animated fadeInUp" data-animation="fadeInUp">
            <div class="row">
                <div class="col-xs-4 text-center"><i class="fa fa-html5"></i> <p>API למסחר וניהול פוזיציות</p></div>
                <div class="col-xs-4 text-center"><i class="fa fa-star-o"></i> <p>פיתוח פתרונות מסחר בארץ ובחו"ל</p></div>
                <div class="col-xs-4 text-center"><i class="fa fa-mobile"></i> <p> תמיכה בניידים</p></div>
            </div>
        </div>
    </div>
</section>

<section class="features" >
    <div class="container">
        <div class="row">
            <h2 class="text-center">DALORE WEB SOCKET API </h2>
            <div class="heading-line"><span></span></div>
        </div>
        <br/>  <br/>  <br/>

        <div class="row text-right " style="direction:ltr;">

            <div class="col-lg-9">
                <%= render "/pages/api/websocket/intro" %>
                <%= render "/pages/api/websocket/register_market_info" %>
            </div>
            <div class="col-lg-3">
                <h4>Market Info</h4>
                <ul class="navigation">
                    <li class="menu"><a href="">Register for Market Info</a></li>
                    <li class="menu"><a href="">Request Fundamental Data</a></li>
                    <li class="menu"><a href="">Request Historic Quotes</a></li>
                    <li class="menu"><a href="">Request Historic Candles</a></li>
                </ul>
                <br/>
                <h4>Account and Positions</h4>
                <ul class="navigation">
                    <li class="menu"><a href="">Register for Account Info changes</a></li>
                    <li class="menu"><a href="">Request  Positions</a></li>
                    <li class="menu"><a href="">Request  Open Orders</a></li>
                    <li class="menu"><a href="">Request Trades</a></li>
                </ul>
                <br/>
                <h4>Parameters</h4>
                <ul class="navigation">
                    <li class="menu"><a href="">:accounts</a></li>
                    <li class="menu"><a href="">:symbol</a></li>
                    <li class="menu"><a href="">:symbols</a></li>
                </ul>
                <br/>
            </div>
        </div>
    </div>
</section>


<style>
    li{ list-style-type: none;}
    li.menu{ list-style-type: none;margin-left:-30px;}
    .text-english {
        direction:ltr;
        text-align: left;
    }

    .text-white{
        color:#fff;
    }
    .code-panel{
        background-color:#333;
        color:#fff;

    }
</style>